<ion-grid class="bgimg">
  <div *ngIf='penalty' class='slideDown' id="overlay">
    <div id="text">Penalty!</div>
  </div>
  <!--   <ion-row>
    <ion-col class="d-flex justify-content-center">
      <div class="my-img"></div>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col>
      <h4 class="d-flex justify-content-center whitebg" id="diff">
        {{d}}
      </h4>
    </ion-col>
    <ion-col>
      <app-period></app-period>
    </ion-col>
    <ion-col>
      <app-level></app-level>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf='computer'>
      <h3 *ngIf='computerScored' class="bounceIn">
        &nbsp;Computer Scored!
      </h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-question [text]='q'></app-question>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-answer-btn (click)='answerClicked($event)' [text]='q1'></app-answer-btn>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-answer-btn (click)='answerClicked($event)' [text]='q2'></app-answer-btn>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-answer-btn (click)='answerClicked($event)' [text]='q3'></app-answer-btn>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <app-answer-btn (click)='answerClicked($event)' [text]='q4'></app-answer-btn>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf='computer'>
      <app-computer-score></app-computer-score>
    </ion-col>
    <ion-col>
      <app-timer></app-timer>
    </ion-col>
    <ion-col>
      <app-player-score></app-player-score>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand='block' (click)='resetGame()' routerLink=''>Home</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>