<ion-grid class="bgimg2">
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <div class="my-img"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <h3>
        End of Period &nbsp; <span id="periodI">{{p}}</span>
      </h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <h3>
        Your Score: &nbsp; <span id="scoreI">{{score}}</span>
      </h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf='computer' class="whitebg d-flex justify-content-center">
      <h3>
        Computer Score: &nbsp; <span id="scoreIC">{{comScore}}</span>
      </h3>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand='block' (click)='continue()' routerLink='/game-play'>
        Continue
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand='block' (click)='resetGame()' routerLink=''>
        Home
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>