@import "../../../../global.scss";

.bgimg {
  background-image: url(../../../../assets/gameplay.jpg);
  @extend %background;
}

.my-img {
  background-image: url(../../../../assets/logo.png);
  @extend %coverCenter;
  width: 5em;
  height: 5em;
}

.button {
  --background: white;
  --color: black;
}

.whitebg {
  background-color: white;
}

h4,
h3 {
  font-weight: 600;
}

//Iphone 5/SE
@media (max-width: 350px) {
  p {
    font-size: 0.9em;
  }
}
