<ion-grid class="bgimg">
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <div class="my-img"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div *ngIf='!computer' class="col-12 whitebg">
        <h3 class="text-center">
          Instructions - Single Player
        </h3>
        <p class="text-center">
          It's time to test your knowledge of your NHL skills! Take part in this NHL game style trivia. There
          are three periods in which you will be asked 10 questions each. You will have 15 seconds to answer. Each
          correct answer equals one point. If you answer three correct in a row, you will be awarded a "Hat
          Trick Bonus" and recieve an additional point.
          Be sure to answer your questions before time runs out. There will be a penalty kill of two questions
          at a reduced time if you don't. Penalties can and do stack. You must score 'shorthanded goals' in order to
          reset the time to its original amount.
          Good Luck!
        </p>
      </div>
      <div *ngIf='computer' class="col-12 whitebg">
        <h4 class="text-center">
          Instructions - Computer VS Player
        </h4>
        <p class="text-center">
          It's time to test your knowledge of your NHL skills! There
          are three periods in which you will be asked 10 questions each. You will have 15 seconds to answer.
          Each
          correct answer equals one point. If you answer three correct in a row, you will be awarded a "Hat
          Trick Bonus" and recieve an additional point.
          The computer keeps scores just like you.
          Be sure to answer your questions before time runs out. There will be a penalty kill of two questions
          at a reduced time if you don't. Penalties can and do stack. You must score 'shorthanded goals' in order to
          reset the time to its original amount.
          Good Luck!
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand='block' (click)='startGame()' routerLink='/game-play'>
        Go
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>