.questionArea {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  font-size: 1.25rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 7.5rem;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

//Iphone 5/SE
@media (max-width: 350px) {
  .questionArea {
    font-size: 0.95em;
    height: 5em;
  }
}
