<ion-grid class="bgimg3">
  <ion-row>
    <ion-col>
      <div class="my-img"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='2'> </ion-col>
    <ion-col size='8'>
      <h3>
        End of the Game!
      </h3>
    </ion-col>
    <ion-col size='2'> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='2'></ion-col>
    <ion-col size='4' *ngIf='computer && computerWin'>
      <h3 class='green'><b>
          Computer final score: &nbsp; <span id="scoreFC">{{computerScore}}</span>
        </b></h3>
    </ion-col>
    <ion-col size='4' *ngIf='computer && computerWin'>
      <h3 class='red'><b>
          Your final score: &nbsp; <span id="scoreF">{{score}}</span>
        </b></h3>
    </ion-col>
    <ion-col size='4' *ngIf='computer && computerWin'>
      <h3 class='red'><b>
          Computer final score: &nbsp; <span id="scoreFC">{{computerScore}}</span>
        </b></h3>
    </ion-col>
    <ion-col size='4' *ngIf='computer && computerWin'>
      <h3 class='green'><b>
          Your final score: &nbsp; <span id="scoreF">{{score}}</span>
        </b></h3>
    </ion-col>

    <ion-col size='8' *ngIf='!computer'>
      <h3><b>
          Your final score: &nbsp; <span id="scoreF">{{score}}</span>
        </b></h3>
    </ion-col>
    <ion-col size='2'></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='2'></ion-col>
    <ion-col size='8'>
      <h3>
        Number of correct: <span id="correct">{{correct}}</span>/30
      </h3>
    </ion-col>
    <ion-col size='2'></ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='2'></ion-col>
    <ion-col size='2'>
      <h3>
        Hat tricks: <span id="ht">{{hatTrick}}</span>
      </h3>
    </ion-col>
    <ion-col size='2'>
      <h3 data-toggle="tooltip" title="Power Play Goals (Coming Soon!)">
        PPG: <span id="ppg">{{ppg}}</span>
      </h3>
    </ion-col>
    <ion-col size='2'>
      <h3 data-toggle="tooltip" title="Short Handed Goals">
        SHG: <span id="shg">{{shg}}</span>
      </h3>
    </ion-col>
    <ion-col size='2'>
      <h3>
        Penalties: <span id="pen">{{penalties}}</span>
      </h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h3 class="white" id="inspiration">
        {{inspiration}}
      </h3>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size='4'></ion-col>
    <ion-col size='4'>
      <ion-button routerLink='' (click)='resetGame()'>
        Home
      </ion-button>
    </ion-col>
    <ion-col size='4'></ion-col>
  </ion-row>
</ion-grid>