@import "../../../../global.scss";

.bgimg3 {
  background-image: url(../../../../assets/gameover.jpg);
  @extend %background;
}

.my-img {
  background-image: url(../../../../assets/logo.png);
  @extend %coverCenter;
  width: 12em;
  height: 12em;
}

.green {
  color: green;
}

.red {
  color: red;
}

h3 {
  @extend .whitebg, .text-align-center;
  font-weight: 600;
  color: black;
}

.text-align-center {
  text-align: center;
}

.whitebg {
  background-color: white;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
}

.white {
  color: white;
}

@media (max-width: 350px) {
  .my-img {
    width: 7em;
    height: 7em;
  }
}
